body {background-color: thistle;}
h1 {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: white; text-align: center;}
h2 {font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;}
h3 {font-family: monospace;font-size: x-large;}